.projects-section {
    padding: 120px 72px;
}
.project-image {
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .project-description {
    position: relative;
    padding: 40px 32px;
    background-color: #181823;
  }
  

.project-wrapper {
    text-decoration: none;
  }
  
  .project-wrapper {
    overflow: hidden;
  }
  
  .project-wrapper._24px-bottom_m {
    margin-bottom: 24px;
  }
.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }

.wrapper.projects-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.normal-wrapper._48px-right_p {
    padding-right: 48px;
  }
  
  .normal-wrapper._48px-right_p._80px-bottom_m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .normal-wrapper._120px-bottom_m {
    margin-bottom: 120px;
  }
  
  .normal-wrapper.flex-vertical_left_space-betwen {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .normal-wrapper.flex-horizontal_left_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .overline_16px {
    display: inline-block;
    margin-bottom: 8px;
    color: #8491a0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
  }
  

  .heading_55px.black {
    color: #181823;
  }

  
  
  .heading_55px.black._24px-bottom {
    margin-bottom: 24px;
  }
  
  .heading_55px._24px-bottom {
    margin-bottom: 24px;
  }

  .heading_24px {
    margin-top: 0px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
  }
  .heading_24px._64px-bottom_m {
    margin-bottom: 64px;
  }
  
  .w-inline-block{max-width:100%;display:inline-block}

  .paragraph_18px {
    color: #fff;
    font-size: 18px;
    line-height: 150%;
  }
  
  .paragraph_18px.dark-grey {
    color: #5b6876;
  }
  
  .paragraph_18px.light-grey {
    color: #8491a0;
  }
  
  .paragraph_18px.light-grey._40px-bottom_m {
    margin-bottom: 40px;
  }
  
  .paragraph_18px.light-grey._64px-bottom_m {
    margin-bottom: 64px;
  }

  .arrow-div {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #5221e6;
  }
  
  .button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 232px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .cta {
    padding: 24px 32px;
    border: 1px solid #5221e6;
    background-color: rgba(56, 152, 236, 0);
    -webkit-transition: box-shadow 350ms cubic-bezier(.165, .84, .44, 1), background-color 350ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 350ms cubic-bezier(.165, .84, .44, 1);
    transition: box-shadow 350ms cubic-bezier(.165, .84, .44, 1), background-color 350ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 350ms cubic-bezier(.165, .84, .44, 1);
    transition: box-shadow 350ms cubic-bezier(.165, .84, .44, 1), background-color 350ms cubic-bezier(.165, .84, .44, 1), transform 350ms cubic-bezier(.165, .84, .44, 1);
    transition: box-shadow 350ms cubic-bezier(.165, .84, .44, 1), background-color 350ms cubic-bezier(.165, .84, .44, 1), transform 350ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 350ms cubic-bezier(.165, .84, .44, 1);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  
  .cta:hover {
    background-color: #5221e6;
    box-shadow: 0 20px 60px 0 rgba(82, 33, 230, 0.3);
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
  }
  

  .w-button{
    display:inline-block;
    padding:9px 15px;
    background-color:#000000;
    color:#5221e6;
    border:0;
    line-height:inherit;
    text-decoration:none;
    cursor:pointer;
    border-radius:0
}

.diagonal-line{
  position: absolute;
  top: 50%;
  margin: 0;
  left: -50px;
  padding: 0;
  width: 100%;
  border-bottom: 2px solid #3399FF;
  transform: rotate(-10deg);
}

.text1{
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body {
  background-image: url(../img/background.png);
} 


main{
  padding: 50px;
  position: relative;
  top: 20%;
  left: 10px;
}

p{
  color: white;
  font-size: 20px;
  text-align: ju;
}

h2{
  color: white;
}
.title-content{
  position: relative;

}


.title-content h2 {
  color: #fff;
  font-size: 5em;
  position: absolute;
}

.about-section{
  width: 45%;
}


